<!DOCTYPE html>
<html>
<head>
	<title>Session Finder</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
	<meta http-equiv="Refresh" content="300">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!--
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" crossorigin=""/>
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/> -->

    <link rel="stylesheet" href="{{ url_for('static',filename='sidebar/leaflet-sidebar.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='markers/leaflet.awesome-markers.css') }}">


    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html, body, #map {
            height: 100%;
            width: 100vw;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }

        sf_forms {
            width: 30vw;
        }

        input {
            color: #0074d9;
            margin: 1px;

        }

        span {
            float: right;
            clear: both;
        }
        label {
            margin: 1px;
        }

        input[type=submit] {
            background:#0074d9;
            border:0 none;
            color: #fff;
            margin: 5px;
            float: right;
            clear: both;
        }



        input[type=submit]:hover {
            background: #1597eb;
        }

        button {
            border:0 none;
            background: #1597eb;
            margin: 3px;

        }

    </style>
</head>
<body>


    {% include 'sf_sidebar.html' %}

    {% include 'sf_map.html' %}



</body>
</html>