<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Session Finder Error Message</title>
</head>
<body>
<h1>oops, something went wrong</h1>
<p>{{ error }}</p>
</body>
</html>