<form class="sf_forms" action="/sessions/add" >
    <span><label for="schedule_lng">Longitude</label>
    <input type="text" id="schedule_lng" name="longitude" value="{{ longitude }}">
    </span><br>

    <span><label for="schedule_lat">Latitude</label>
    <input type="text" id="schedule_lat" name="latitude" value="{{ latitude }}">
    </span><br>

    <!-- time format: 2019-06-03T21:37 -->
   <span><label for="schedule_when">When</label>
    <input type="datetime-local" id="schedule_when" name="schedule_when" value="2019-06-01T00:24" min="" max="">
    </span><br>

    <span><label for="type">Type of Session</label>
    <select name="type">
        <option value="music">Music</option>
        <option value="yoga">Yoga</option>
        <option value="flow">Flow</option>
        <option value="paint">Paint</option>
        <option value="code">Code</option>
    </select></span>
    <br><br>

    <span><label for="distance">Show sessions in a distance of</label>
    <select name="distance">
        <option value="3">3 Km</option>
        <option value="5">5 Km</option>
        <option value="10">10 Km</option>
        <option value="15">15 Km</option>
        <option value="10000">Almost No Limit</option>
    </select></span>
    <br>
    <br>

    <span>
    <input type="hidden" name="create" value="schedule" readonly>
    <input type="submit" value="Submit"> <br><br>

    <p><b><div id="schedule_adr"></div></b>
    </p></span>
</form>