<form class="sf_forms" action="/sessions" >

    <span><label for="search_lng">Longitude</label>
    <input type="text" id="search_lng" name="longitude" value="{{ longitude }}">
        </span>
    <br>
    <span><label for="search_lat">Latitude</label>
    <input type="text" id="search_lat" name="latitude" value="{{ latitude }}">
        </span>
    <br>
    <span><label for="distance">Show sessions in a distance of</label>
    <select name="distance">
        <option value="3">3 Km</option>
        <option value="5">5 Km</option>
        <option value="10">10 Km</option>
        <option value="15">15 Km</option>
        <option value="10000">Almost No Limit</option>
    </select></span>
    <br>
    <br>
    <span><input type="submit" value="Submit">
    <br>
    <br>
    <b><div id="search_adr"></div></b>
    </span>
</form>