<form class="sf_forms" action="/sessions/add" > <!-- method="post" enctype="multipart/form-data" -->
    <br>
    <span><label for="lng">Longitude</label>
    <input type="text" id="session_lng" name="longitude" value={{ longitude }}></span>
    <br>
    <span><label for="lat">Latitude</label>
    <input type="text" id="session_lat" name="latitude" value={{ latitude }}></span>
    <br>
    <br>
    <span><label for="type">Type of Session</label>
    <select name="type">
        <option value="music">Music</option>
        <option value="yoga">Yoga</option>
        <option value="flow">Flow</option>
        <option value="paint">Paint</option>
         <option value="code">Code</option>
    </select></span>
    <br>
    <span><label for="distance">Show sessions in a distance of</label>
    <select name="distance">
        <option value="3">3 Km</option>
        <option value="5">5 Km</option>
        <option value="10">10 Km</option>
        <option value="15">15 Km</option>
        <option value="10000">Almost No Limit</option>
    </select></span>
    <br>
    <br>
    <span>
    <input type="hidden" name="create" value="session" readonly>
    <input type="submit" value="Submit">
    <br>
    <br>
    <b><div id="session_adr"></div></b>
    </span>
</form>