<div id="map"></div>

<!-- <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script> -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js" crossorigin=""></script>
<script src="{{ url_for('static',filename='sidebar/leaflet-sidebar.min.js') }}"></script>
<script src="{{ url_for('static',filename='markers/leaflet.awesome-markers.js') }}"></script>

<script>
    // leaflet map setup

    var streetsde = L.tileLayer('{{de_map_url}}', {
        'maxZoom': 18,
        'useCache': false,
        'attribution':  '{{de_map_attribution}}'
    });

    /*
    var streetsen = L.tileLayer('{{en_map_url}}', {
        'maxZoom': 18,
        'useCache': false,
        'attribution':  '{{en_map_attribution}}'
    });
    */
    /*
    var temperature = L.tileLayer('{{temp_map_url}}', {
        'maxZoom': 18,
        'useCache': true
    });

    var wind = L.tileLayer('{{wind_map_url}}', {
        'maxZoom': 18,
        'useCache': true
    });
    */
    /* var rain = L.tileLayer('{{rain_map_url}}', {
        'maxZoom': 18,
        'useCache': false
    });
    */

    // var map = L.map('map').fitWorld();

    var map = L.map('map', {
    center: [50.0, 8.0],
    zoom: 10,
    layers: [
        streetsde,
        //temperature,
        //streetsen,
        //wind,
        //rain
        ]
    });

    var baseMaps = {
        "Streets DE": streetsde,
        // "Streets OSM": streetsen
    };

    var overlayMaps = {
        //"Temperature": temperature,
        //"Wind": wind,
        //"Rain": rain
    };

    L.control.layers(baseMaps, overlayMaps).addTo(map);

    // click sets position and opens menu
    map.on('click',
        function(e){
        formpop(e);}
    );

    function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
        });
        return vars;
    };

    if (getUrlVars()["latitude"]) {
        try {
              map.setView([getUrlVars()["latitude"], getUrlVars()["longitude"]], 12);
            } catch(err) {
            window.location = window.location.href.split("?")[0];
                // click sets position and opens menu
                    map.on('click',
                        function(e){
                        alert('clicked');
                        formpop(e);}
                    );
            }

    } else {
        map.locate({setView: false, maxZoom: 18});
        map.on('locationfound', onLocationFound);
    };

    // create the sidebar instance
    var sidebar = L.control.sidebar({ container: 'sidebar' }).addTo(map);
    //.open('home')


    // add the form popup
    {% include 'sf_formpopup.html' %}

    // set user location if given by parameter, or try to detect location
    function onLocationFound(e) {
        formpop(e);
    };


    // add markers
    {% include 'sf_markers.html' %}

    // add hotspots
    {% include 'sf_hotspots.html' %}

    // add sessions
    {% include 'sf_sessions.html' %}

    // add latest submitted session
    var latestsession = JSON.parse('{{latest|safe}}');
    L.circle([latestsession['lat'],latestsession['lon']],12).addTo(map).bindTooltip( 'latest session, type: ' + latestsession['type']);



</script>

