<!-- optionally define the sidebar content via HTML markup -->
<div id="sidebar" class="leaflet-sidebar collapsed">

    <!-- nav tabs -->
    <div class="leaflet-sidebar-tabs">
        <!-- top aligned tabs -->
        <ul role="tablist">
            <li><a href="#home" role="tab"><i class="fa fa-question"></i></a></li>
            <li><a href="#search" role="tab"><i class="fa fa-search"></i></a></li>
            <li><a href="#sessions" role="tab"><i class="fa fa-plus"></i></a></li>
            <li><a href="#schedules" role="tab"><i class="fa fa-calendar"></i></a></li>
            <li><a href="#about" role="tab"><i class="fa fa-info"></i></a></li>
        </ul>

        <!-- bottom aligned tabs -->
        <ul role="tablist">
            <li><a href="#messages" role="tab"><i class="fa fa-history"></i></a></li>
            <li><a href="{{ code_link }}" target="_blank"><i class="fa fa-git"></i></a></li>
        </ul>
    </div>

    <!-- panel content -->
    <div class="leaflet-sidebar-content">
        <div class="leaflet-sidebar-pane" id="home">
            <h1 class="leaflet-sidebar-header">
                Session Finder
                <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>
            {{manual|safe}}
       </div>
        <div class="leaflet-sidebar-pane" id="about">
            <h1 class="leaflet-sidebar-header">
                Session Finder
                <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>
            <p><div>{{readme|safe}}</div></p>
            <p><hr>
                Service Contact: {{contact_info|safe}}
                <hr>
                Legal: {{legal_info|safe}}
                <hr></p>
       </div>
        <div class="leaflet-sidebar-pane" id="search">
        <h1 class="leaflet-sidebar-header">
            Search Sessions
            <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h1>
        <p> Instant sessions are kept alive for one hour. Start a new one to let others know its still running. <br>
            {% include 'sf_form_search.html' %}
        </p>
        </div>
        <div class="leaflet-sidebar-pane" id="schedules">
            <h1 class="leaflet-sidebar-header">
                Scheduled Session
                <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>
            <p>A scheduled session, unlike the instant session, can be planned up to 7 days upfront.
                <br><br>
                {% if not username == '' %}
                <p> Hello {{ username  }} <br><br>
                   <form class="sf_forms" action="{{url_for('logout')}}" method="POST">
                    <input type="submit" value="Logout" >
                    </form>
                </p>
                {% else %}
                    <b>You need to be logged in to create a scheduled session. </b> <br>
                   <form class="sf_forms" action="{{url_for('login')}}" method="POST">
                        <input type="submit" value="Login" >
                    </form>
                {% endif %}
                <br><br>
                {% include 'sf_form_schedule.html' %}
                <br>
                <b><div id="a_schedule_uuid"></div></b>
            </p>
        </div>
        <div class="leaflet-sidebar-pane" id="sessions">
            <h1 class="leaflet-sidebar-header">
                Instant Session
                <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>
            {% include 'sf_form_session.html' %}
        </div>
       <div class="leaflet-sidebar-pane" id="messages">
            <h1 class="leaflet-sidebar-header">
                Messages
                <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>
            <p>
                {% for item in ret_msg %}
                    <b>{{ item }}</b> <br>
                {% endfor %}
            </p>
       </div>
    </div>

</div>
