// add session markers
{% for item in sessions %}

L.marker([
        {{item['lat']|safe }},
        {{item['lon']|safe }}
        ],
    {
    icon: {{item['type']|safe }}Marker}
    ).addTo(map)
    .bindTooltip(
        "{{item['type']|safe }} <br> {{item['schedule_when']|safe }} "
    ).bindPopup(
        {% if not username == '' %}
            {% if item['managed_by'] == session['managed_by'] %}
                "<button onclick='window.location.href=\"/sessions/delete?uuid={{ item['uuid'] | safe }}\";'>" +
                "<div class=\"fa fa-trash\">Cancel session {{ item['uuid'] | safe }}  </div>" +
                "</button>" +
            {% endif %}
                " Type: {{item['type']|safe }} <br> \n"  +
                " When:  {{item['schedule_when']|safe }} <br> \n" +
                " Where: {{item['address']|safe }} <br> \n" +
                " Lat: {{item['lat']|safe }} <br> \n" +
                " Lon: {{item['lon']|safe }} \n"
        {% else %}
                " Type: {{item['type']|safe }} <br> \n"  +
                " When:  {{item['schedule_when']|safe }} <br> \n" +
                " Where: {{item['address']|safe }} <br> \n" +
                " Lat: {{item['lat']|safe }} <br> \n" +
                " Lon: {{item['lon']|safe }} \n"
        {% endif %}
    );
{% endfor %}
